<html>
    <head>
        <title>My Game</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
          
        <link href="https://fonts.googleapis.com/css?family=Joti+One|Roboto" rel="stylesheet">
        <style>
            h1{
                font-family: 'Joti One';
            }
        </style>
    </head>
    <body>
        <div class="container">
            <%= yield %>
        </div>
    </body>
</html>