<h1><%= room.name %></h1>

<%= room.description %>

<% if room.name == 'death' || room.name == "The End" %>
    <p><a href='/'>Play again?</a></p>
<% else %> 
    <form action="/game" method="POST">
        <input type="text" name="action">
        
        <input class="waves-effect waves-light btn" type="SUBMIT"></input>
    </form>
<% end %>