<div class="card-panel">
    <center>
        <h5>Your death was so gruesome they posed it on LiveLeaks.</h5><br>
        <img src="https://media.giphy.com/media/3o6ZsWf07lquEMLgju/giphy.gif"/>
    </center>
</div>

<div class="card-panel">
    <center><a class="waves-effect waves-light btn green darken-3" href="/">Play Again</a></center>
</div>